
body{
    background-color: antiquewhite;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.header{
    background-color: #FFC107;
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
    padding: 1px 0;
    
}
.header h1{
    color: white;
}
.header p{
    padding-left: 5px;
    border-left: solid 70px #2da9af;
}

.main{
    background-color: white;
    width: 80%;
    padding: 5px 10px;
    text-align: center;
    margin: auto;
}
.main p{
    color:blue;
    text-align: left;
    padding-left: 5px;
    border-left: solid 10px #2da9af;
}
.main img{
    width: 100%;
}

.back{
    background-color: white;
    width: 100px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}
.back a{
    text-decoration: none;
}
.back p{
    color: rgba(255, 29, 180, 0.964);
}
.back a :hover{
    background-color: aquamarine;
    border-radius: 10px;
}







@media screen and (max-width:480px) {
 
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
    body{
        background-color:#8EB8FF;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .header{
        width: 100%;
        margin:0  0 5px 0;
    }

    .main{
        width: 280px;
    }
 
}
